@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #007bff;
  --background-color: #f8f9fa;
  --text-color: #333;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}


body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
